:root {
  --blue: rgb(0, 119, 255);
}

.AfficheBandeau {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
}

.section {
  padding: 20px;
}

.cards-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;       /* 🔥 scroll horizontal */
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

/* Supprime la scrollbar (optionnel) */
.cards-container::-webkit-scrollbar {
  display: none;
}

.card {
  width: 250px;       /* Important pour le scroll */
  height: 350px;
  background: #222;
  border-radius: 10px;
  flex-shrink: 0;         /* Empêche la réduction */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transition: transform 0.3s ease;
}

/* Effet Netflix au hover */
.card:hover {
  transform: scale(1.1);
}

.slider {
  position: relative;
}

.btn {
  position: absolute;
  top: 40%;
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  border-radius: 10px;
}

.btn:hover {
    transform: scale(1.1);
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.6);
}

.left { left: 0; }
.right { right: 0; }